<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">PokeWeb</a>
        <i class="fas fa-bars"></i>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="home">Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="pokemones">Pokemones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="equipos">Equipos</a>
            </li>
        </ul>
        <form class="d-flex input-group w-auto">
            <input type="search" class="form-control" placeholder="Busca un pokemon" aria-label="Buscar" />
            <button class="btn btn-outline-primary" type="button">
                Buscar
            </button>
        </form>
    </div>
</nav>